/** VARIABLES & FONTS **/

:root{
    --HardLuckGrey: rgba(102,102,119,1);
    --HardLuckBlue: rgba(  0,136,204,1);

    --OWOrange:     rgba(249,158, 26,1);
    --OWGrey:       rgba( 67, 72, 76,1);
    --OWBlue1:      rgba( 64, 82,117,1);
    --OWBlue2:      rgba( 33,143,254,1);
    --semiblack:    rgba(  50,  50,  50, 1);
}

@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

*{
    font-family: "Teko", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{

}


/** HEADER **/

header{    
    /** Declare as flex parent **/
    display:flex;
    flex-flow: row wrap;                /** flex-flow: [flex-direction] [flex-wrap] **/
    justify-content: space-between;     /** Main-axis alignment **/
    align-content: flex-start;          /** Cross-axis alignment **/
    align-items: stretch;               /** Cross axis sizing **/

    /** Regular Styling **/
    position: relative;
    top: 0px;
    left: 0px;
    padding: 15px;
    background: linear-gradient( 180deg, var(--HardLuckBlue),var(--semiblack) );
    color: white;

    border-bottom: 3px solid var(--HardLuckBlue);
}

header section{
    /** flex: [flex-grow] [flex-shrink] [flex-basis]; **/
    flex: 2 1 50%;

    position:relative;
    align-self: center;
    min-width: 500px;
}

header img{
    display: block;
    position: absolute;
    top: 0px;
    left:0px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px var(--semiblack);
    margin-right:20px;
}

header h1{
    font-size: 300%;
    line-height:100px;
    padding-left: 120px;
    text-shadow: 5px 5px 5px var(--semiblack);
}

header nav{
    /** flex: [flex-grow] [flex-shrink] [flex-basis]; **/
    flex: 1 1 50%;
    align-self: flex-end;
}

header ul{
    /** Declare as flex parent **/
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;

    /** Regular Styling **/
    text-align: right;
}

header nav ul li{
    flex: 1 1 25%;
    font-size: 120%;
    margin: 0px 5px;
}

header a{
    color:var(--OWOrange);
    text-decoration:none;
}

header a:hover{
    text-shadow: 2px 2px 0px var(--semiblack);
}

/** HERO IMAGE **/

section#hero{
    padding: 25px 15px;
    text-align: right;
    margin-bottom:20px;
    background: url('../images/header-hardluck.png') no-repeat top -250px left 0px;
    border-bottom: 3px solid var(--HardLuckBlue);
}

section#hero h2{
    color: white;
    font-size: 150%;
    text-shadow: 2px    2px     0px var(--semiblack),
                 -2px   2px     0px var(--semiblack),
                 2px    -2px    0px var(--semiblack),
                 -2px   -2px    0px var(--semiblack);

}

/** SECTIONS **/

main{
    max-width: 900px;
    margin: 0px auto;
}

main section {
    /** Declare as flex parent **/
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;

    /** Regular Styling **/
    margin-bottom: 20px;
    border: 1px dotted green;
}

main section aside{
    /** Creat rules as flex child **/
    flex: 1 1 20%;

    /** Regular Styling **/
    padding:15px;
    border-right: 3px solid var(--HardLuckBlue);
    text-align: right;
}

main section aside h3{
    min-width: 130px;
    font-size: 125%;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--OWOrange)
}

main section div.contentblock{
    /** Set rules as flex CHILD **/
    flex: 4 4 80%;
    padding: 15px;
}

main section div.contentblock p{
    margin: 10px 0px;
}

/** Project Cards **/

main section#work div.contentblock{
    /** Declare as flex parent **/
    display:flex;
    flex-flow: row wrap-reverse;
    align-content: flex-end;
}
main section#work figure{
    /** Set rules as flex CHILD **/
    flex: 2 2 calc(50% - 20px);
    min-width:300px;

    display:block;
    position:relative;
    margin: 10px;
    border: 3px solid var(--OWOrange);
}

main section#work figure img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}






/** FOOTER **/

footer{
    display: block;
    background-color: var(--OWBlue1);
    bottom:0px;
    text-align: center;
}

footer p{
    font-size: 75%;
    padding: 10px;
    color: white;
}

